body{
    width: 100vw;
    height: 100vh;
    display: grid;
    background:#0c0909;

}
.cont{
        display: flex;
        width: 100vw;
        height: 80vh;
        
        color: black;
        position: relative;
        border-radius: 50px;
        padding: 2em;
        transition: transform 0.4s ease;
        
      
}
.cont form{
    margin: 20px;
   
}
.sticky{
   
        width: 250px;
        height: 150px;
        margin-left: 35px;
        background-color: #9cd2ed;
        border-radius: 20px;
        z-index: 1;
        color: black;
        text-align: center;
        
       
}

.title{
    color: white;
    width:100vw;
    height: 10vh; 
    text-align: center;
    font-size: 60px;
   

}
.data{
    display: grid;
    height: 60vh;
    width: 25vw;
}
#notetitle{
    width: 25vw;
    height:7vh;
    border-radius: 15px;
    margin-top: -40px;
    border-width: 5px;
    font-size: 20px;
}
textarea{
    width: 25vw;
    height: 20vh;
    border-radius: 15px;
    margin-top: 10px;
    border-width: 5px;
    border-color: black;
    font-size: 30px;
    
}
button{
    width: 10vw;
    height: 7vh;
    margin-top: 15px;
    border-radius: 15px;
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;

}

button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }
   
   button:main, button:focus {
    user-select: auto;
   }
   
   button:hover:not(:disabled) {
    filter: brightness(1.1);
   }
   
   button:disabled {
    cursor: auto;
   }
   
   button:active:after {
    border-width: 0 0 0px;
   }
   
   button:active {
    padding-bottom: 10px;
   }

.stickyy{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}
h1{
    text-align: center;
}

#notask{
    color: white;
    font-size: 40px;
    margin-top: -4px;
}