
body{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 80vw;
    height: 60vh;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
  }

.filename{
    border-width: 5px;
    border-radius: 40px;
    background-color: black;
    color:white;
    margin: 30px;
    width: 75vw;
    height: 15vh;
    font-size: 70px;
    text-align: center;
}

.filedata{
    border-width: 5px;
    border-radius: 40px;
    background-color: black;
    color:white;
    margin: 30px;
    width: 75vw;
    height: 35vh;
    font-size: 40px;
}
#data{
    margin-left: 20px;
}